html, body {
    background-color: #281347;
    background-image: url("assets/birdBackground.png");
    max-width: 2000px;
    margin: 10px;
    width: 98%;
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

#wrapperTop {
    display: grid;
    grid-template-rows: 3em auto 2.25em 1.75em;
    grid-template-columns: auto 5%;
    grid-template-areas:
        "topBar topBar"
        "siteBanner ."
        "siteNav ."
        "coupon coupon";
    justify-items: end;
    align-items: center;
    grid-gap: 5px;
    padding: 12px;
    /* border: 4px ridge rgb(41, 13, 68); */
} 

nav {
    background-color: #c7d1e0;
    margin: 4px 0px;
    opacity: 0.9;
    border: 3px ridge black;
}

a {
    text-decoration: none;
    color: rgb(46, 14, 88)
}

h4 {
    margin: 0;
}

#topBar {
    padding: 0px;
    font-size: 0.8em;
    grid-area: topBar;
    font-style: italic;
}

nav ul {
    margin: 4px;
}

nav li {
    display: inline-block;
    padding: 4px;
    margin: 0px;
}

#siteBanner img {
    border: 5px ridge black;
    grid-area: siteBanner;
    object-fit: contain;
    height: 15em;
}

#siteNav {
    height: 2em;
    width: 30em;
    text-align: center;
    font-size: 1.05em;
    border: 2px ridge black;
    font-weight: bold;
    grid-area: siteNav;
}

#coupon {
    color: rgb(176, 216, 255);
    grid-area: coupon;
    align-self: end;
    justify-self: start;
    font-size: 0.8em
}

#wrapperTopFeat {
    display: grid;
    /* grid-template-rows: 4fr 3fr 1fr;
    grid-template-areas:
        "featuredProducts"
        "scrollingBrowse"
        "searchFeature"; */
    justify-items: center;
    align-items: center;
    grid-gap: 0.8em;
    padding: 12px;
    /* border: 4px ridge rgb(41, 13, 68); */
    /* height: 90em; */
    margin: 0px 0px;
    position: relative;
}

/* #scrollingFeatures {
    font-size: 1.2em;
    color: lightslategray;
    text-align: center;
    grid-area: featuredProducts;
    width: 100%;
    height: 65%;
    border: 1px ridge white;
}

#scrollingFeatures h2 {
    text-decoration: underline;
} */

#scrollingBrowse {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    font-size: 0.9em;
    color: lightslategray;
    text-align: center;
    grid-area: scrollingBrowse;
    width: 80%;
    height: 30em;
    align-items: center;
    object-fit: contain;
}

.category p {
    justify-self: center;
    font-weight: bold;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: absolute;
    padding-left: 1em;
}

.category img {
    width: 95%;
    height: 95%;
    border: 1px solid black;
}

#searchFeature {
    grid-area: searchFeature;
    font-size: 0.9em;
    color: lightslategray;
    text-align: center;
    border: 1px ridge white;
    width: 100%;
    height: 50%;
}

#wrapperBottomFeat {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "SotD testimonial"
        "SotD orphans"
        "SotD browseBySchool";
    justify-items: center;
    align-items: center;
    grid-gap: 1.2em;
    padding: 12px;
    border: 4px ridge rgb(41, 13, 68);
    width: 85%;
    padding: 15px;
    margin: 10px 7.5%;
    text-align: center;
}

#SotD {
    grid-area: SotD;
    text-align: center;
    padding: 10px 40px 20px 40px;
    border: 9px ridge rgb(40, 8, 61);
    color: rgb(40, 8, 61);
    background-image: url("assets/paperBackground.png");
    font-weight: bold;
}

#SotD h1 {
    text-decoration: underline;
    font-size: 2.3em;
}

#SotD h2 {
    font-style: italic;
}

#SotD p {
    font-size: 1.3em;
}

#testimonial {
    grid-area: testimonial;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-image: url("assets/paperBackground.png");
    color: rgb(40, 8, 61);
    font-style: italic;
    display: inline-block;
    object-fit: contain;
}

#testimonial img {
    max-height: 90%;
    max-width: 90%;
    float: left;
    padding: 10px 40px 0 10px;
}

#testimonial p {
    margin: 10px 40px;
    object-fit: contain;
    font-weight: bold;
    font-family: 'Amita', cursive;
    font-size: 0.85rem;
}

#testimonial h1 {
    font-style: none;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.3em;
    margin: 0.5em;
}

#orphans {
    grid-area: orphans;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-image: url("assets/paperBackground.png");
    color: rgb(40, 8, 61);
}

#orphans p {
    margin: 0.3em;
    padding: 0.3em;
    font-weight: bold;
}

#orphans h1 {
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
}

#browseBySchool {
    grid-area: browseBySchool;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-image: url("assets/paperBackground.png");
    color: rgb(40, 8, 61);
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "Account"
        "Information"
        "Partners";
    grid-gap: 1em;
    border: 4px ridge rgb(41, 13, 68);
    background-image: url("assets/paperBackground.png");
    color: rgb(40, 8, 61);
    text-align: center;
    font-size: 0.8em;
    margin: 1.5rem;
}