html, body {
    background-color: #281347;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%2367469d' fill-opacity='0.42'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    max-width: 2000px;
    margin: 10px;
}

#wrapperTop {
    display: grid;
    grid-template-rows: 3em auto 2.25em 1.75em;
    grid-template-columns: auto 5%;
    grid-template-areas:
        "topBar topBar"
        "siteBanner ."
        "siteNav ."
        "coupon coupon";
    justify-items: end;
    align-items: center;
    grid-gap: 5px;
    padding: 12px;
    /* border: 4px ridge rgb(41, 13, 68); */
} 

nav {
    background-color: #c7d1e0;
    margin: 4px 0px;
    opacity: 0.9;
    border: 3px ridge black;
}

a {
    text-decoration: none;
    color: rgb(46, 14, 88)
}

h4 {
    margin: 0;
}

#topBar {
    padding: 0px;
    font-size: 0.8em;
    grid-area: topBar;
}

nav ul {
    margin: 4px;
}

nav li {
    display: inline-block;
    padding: 4px;
    margin: 0px;
}

#siteBanner img {
    border: 5px ridge black;
    grid-area: siteBanner;
    object-fit: contain;
    height: 15em;
}

#siteNav {
    height: 2em;
    width: 30em;
    text-align: center;
    font-size: 1.05em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 2px ridge black;
    font-weight: bold;
    grid-area: siteNav;
}

#coupon {
    color: rgb(176, 216, 255);
    grid-area: coupon;
    align-self: end;
    justify-self: start;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8em
}

#wrapperTopFeat {
    display: grid;
    grid-template-rows: 4fr 3fr 1fr;
    grid-template-columns: auto;
    grid-template-areas:
        "featuredProducts"
        "scrollingBrowse"
        "searchFeature";
    justify-items: center;
    align-items: center;
    grid-gap: 0.8em;
    padding: 12px;
    /* border: 4px ridge rgb(41, 13, 68); */
    height: 40em;
    margin: 10px 0px;
}

#scrollingFeatures {
    font-size: 1.2em;
    color: lightslategray;
    text-align: center;
    grid-area: featuredProducts;
    border: 1px ridge white;
    width: 100%;
    height: 100%;
}

#scrollingFeatures h2 {
    text-decoration: underline;
}

#scrollingBrowse {
    font-size: 0.9em;
    color: lightslategray;
    text-align: center;
    grid-area: scrollingBrowse;
    border: 1px ridge white;
    width: 100%;
    height: 100%;
}

#scrollingBrowse h2 {
    text-decoration: underline;
}

#searchFeature {
    grid-area: searchFeature;
    font-size: 0.9em;
    color: lightslategray;
    text-align: center;
    border: 1px ridge white;
    width: 100%;
    height: 100%;
}

#wrapperBottomFeat {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "SotD testimonial"
        "SotD orphans"
        "SotD browseBySchool";
    justify-items: center;
    align-items: center;
    grid-gap: 1.2em;
    padding: 12px;
    border: 4px ridge rgb(41, 13, 68);
    width: 85%;
    padding: 15px;
    margin: 10px 7.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#SotD {
    grid-area: SotD;
    text-align: center;
    padding: 10px 40px 20px 40px;
    border: 9px ridge rgb(40, 8, 61);
    color: rgb(40, 8, 61);
    background-color: rgb(124, 91, 18);
    font-weight: bold;
}

#SotD h1 {
    text-decoration: underline;
    font-size: 2.3em;
}

#SotD h2 {
    font-style: italic;
}

#SotD p {
    font-size: 1.3em;
}

#testimonial {
    grid-area: testimonial;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-color: rgb(124, 91, 18);
    color: rgb(40, 8, 61);
    font-style: italic;
    display: inline-block;
    font-size: 1.15em;
    object-fit: contain;
}

#testimonial img {
    max-height: 90%;
    max-width: 90%;
    float: left;
    padding: 10px 40px 0 10px;
}

#testimonial p {
    margin: 10px 40px;
    object-fit: contain;
    font-size: 0.8em;
}

#testimonial h1 {
    font-style: none;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.3em;
    margin: 0.5em;
}

#orphans {
    grid-area: orphans;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-color: rgb(124, 91, 18);
    color: rgb(40, 8, 61);
}

#orphans p {
    margin: 0.3em;
    padding: 0.3em
}

#orphans h1 {
    font-size: 1em;
    text-decoration: underline;
    font-weight: bold;
}

#browseBySchool {
    grid-area: browseBySchool;
    border: 9px ridge rgb(40, 8, 61);
    height: 95%;
    width: 95%;
    background-color: rgb(124, 91, 18);
    color: rgb(40, 8, 61);
    text-align: center;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "Account"
        "Information"
        "Partners";
    grid-gap: 1em;
    border: 4px ridge rgb(41, 13, 68);
    background-color: rgb(124, 91, 18);
    color: rgb(40, 8, 61);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}